.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  overflow: visible !important;
}

.background {
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: -100%;
  right: -100%;
  height: 100%;
  z-index: 101;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.window {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 800px;
  background: var(--background-color);
  z-index: 102;
  transition: all 0.5s;
}
