.testSet {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 15px 30px;
  border-bottom: 1px solid var(--background-offset-color);

  i {
    color: var(--primary-color);
  }

  strong {
    flex: 1;
  }

  span,
  small {
    color: var(--gray-color);
  }

  &:hover {
    background-color: rgba(var(--gray-color-rgb), 0.05);
  }
}
